.bus
{
    width: 90%;
    margin-left: 6%;
    margin-top: 8%;

}
.mag
{
    width: 100%;
    margin-top: 10%;
}
.opti
{
    width: 100%;
    margin-top: 5%;
}
.info
{
    width: 100%;
    margin-top: 5%;
}